

body {
    margin-top: 3%;
}

div > h1 {
    padding-top: 3%;
    text-align: center;
} 

header {
    text-align: center;
    margin: auto;
}

.input {
    display: block;
} 

.input, {
    margin: auto;
} 

.questionairre {
    border: 1px solid black;
    background-color: lightgray;
    margin-top: 5%;
} 

.score {
    margin-top: 5%;
    margin: auto;
} 

.TimeIsUp {
    visibility: hidden;
}